.buffer {
    display: grid;
    background-color: #F5F5F5;
    border: 1px solid #D5D5D5;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    overflow: hidden;
}

.buffer ol {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 3px;
    display: flex;
    gap: 3px;
    overflow: scroll;
}

.buffer::after {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15px;
    background: linear-gradient(90deg, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 80%);
    content: "";
    display: block;
    pointer-events: none;
}

.buffer li {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
    list-style: none;
    border-radius: 5px;
    width: 60px;
    flex-shrink: 0;
    display: inline-block;
    padding: 4px;
    margin: 0;
    border: 1px dashed transparent;
}

.buffer li.deleted {
    border-color:#D5D5D5;
    background-color: transparent;
}

.buffer pre {
    margin: 0;
    font-size: 1.3em;
    margin-top: 3px;
    height: 25px;
}

.buffer .meta {
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
    height: 20px;
}

.buffer .deleted .deletedLabel {
    color: #FF7168;
}